<h5 class="col s8 offset-m2">New Curriculum</h5>

<%= render 'form', curriculum: @curriculum %>

<p>&nbsp;</p>

<div class="row col s12">

  <%= link_to 'Back', curriculums_path , class: "links" %>
</div>