<h5 class="col s8 offset-m2">Editing Family</h5>

<%= render 'form', family: @family %>

<div class="row col s12">
  <%= link_to 'Show', @family , class: "links"%> |
  <%= link_to 'Back', families_path, class: "links" %>
</div>
