<h5 class="col s6 offset-m3">Editing Student</h5>

<%= render 'form', student: @student %>

<div class="row col s12">
  <%= link_to 'Show', student_path(@student) , class: "links"%> |
  <%= link_to 'Index', students_path, class: "links" %>
</div>
