<div class="row">
  <div class="col s8 offset-m2">
    <h4>Family Details</h4>
    <%= render partial: "family_data" %>
  </div>

</div>
<div class="col s12 offset-m3">
  <%= render :partial => "partials/object_options", locals: {model_name: "family", object: @family} %>
</div>