<div class="row">
  <div>
    <% if logged_in? and !current_user.role? :guest %>
      <%= render partial: "camp_data" %>
    <% else %>
      <%= render partial: "guest_camp_data" %>
    <% end %>
  </div>

</div>








