<h5 class="col s8 offset-m2">New Instructor</h5>

<%= render 'form', instructor: @instructor %>

<p>&nbsp;</p>

<div class="row col s12">
  <%= link_to 'Back', instructors_path, class: 'links'  %>
</div>

