<div class="row">    
  <div class="col s10 offset-m1">
    <div class="card">
      <div class="card-content">
        <div class = 'card-image row'>
          <%= image_tag 'Alex-Mark-Dad-Natl_2005.jpg', class: 'img_left col s8 offset-m2' %><br>
        </div>
        <div class = 'row'>
          <span class="card-title"><em>About Hiemann Brothers Chess Academy</em></span>
          <p>We know how important your children's chess skills are to you. That's why the Hiemann Brothers Chess Academy is committed to giving your children top notch training at affordable prices. Come visit our offices 
            at 5000 Forbes Avenue (Porter 224A) and see how we
            can help your children master their chess skills.
          </p>
          <p>&nbsp;</p>
        </div>
        
      </div>
    </div>
  </div>
</div>

