    <div class="row">  
      <h4 class = 'col s10 offset-m1 center'>Welcome to Hiemann Brothers Chess Academy</h4>  
      <div class="col s10 offset-m1">
        <div class="card">
          <div class="card-content">
            <div class = 'card-image'>
              <%= image_tag 'boys_playing_at_home.JPG', class: 'img_left' %><br>
            </div>
            <p>The Hiemann Brother's Chess Academy was started by two brothers that wanted to share their love of chess with those that are less experienced. Over the years, Alex and Mark have had the pleasure of competing in chess competitions around the country. With this experience, they are well equipped to help your children's skills develop.  
            </p>
          </div>
        </div>
      </div>
    </div>