<h5 class=" col s8 offset-m2">Editing Location</h5>

<%= render 'form', location: @location %>


<div class="row col s12">
  <%= link_to 'Show', @location , class: 'links'%> |
  <%= link_to 'Back', locations_path, class: 'links' %>
</div>